<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homeadmin</servlet-name>
        <servlet-class>Servlet.Homeadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homeuser</servlet-name>
        <servlet-class>Servlet.Homeuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manageacc</servlet-name>
        <servlet-class>Servlet.Manageacc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>Servlet.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manageclass</servlet-name>
        <servlet-class>Servlet.Manageclass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manageuser</servlet-name>
        <servlet-class>Servlet.Manageuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ine4class</servlet-name>
        <servlet-class>Servlet.ine4class</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatein4</servlet-name>
        <servlet-class>Servlet.updatein4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>in4class0</servlet-name>
        <servlet-class>Servlet.in4class0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subjectlist</servlet-name>
        <servlet-class>Servlet.Subjectlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>in4subject</servlet-name>
        <servlet-class>Servlet.in4subject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassesServlet</servlet-name>
        <servlet-class>Servlet.ListClassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enroll</servlet-name>
        <servlet-class>Servlet.Enroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timetable</servlet-name>
        <servlet-class>Servlet.timetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Liststudentforadmin</servlet-name>
        <servlet-class>Servlet.Liststudentforadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>Servlet.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendmessage1</servlet-name>
        <servlet-class>Servlet.sendmessage1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendServlet</servlet-name>
        <servlet-class>Servlet.TakeAttendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homeadmin</servlet-name>
        <url-pattern>/Homeadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homeuser</servlet-name>
        <url-pattern>/Homeuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manageacc</servlet-name>
        <url-pattern>/Manageacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manageclass</servlet-name>
        <url-pattern>/Manageclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manageuser</servlet-name>
        <url-pattern>/Manageuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ine4class</servlet-name>
        <url-pattern>/ine4class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatein4</servlet-name>
        <url-pattern>/updatein4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>in4class0</servlet-name>
        <url-pattern>/in4class0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subjectlist</servlet-name>
        <url-pattern>/Subjectlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>in4subject</servlet-name>
        <url-pattern>/in4subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassesServlet</servlet-name>
        <url-pattern>/ListClassesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enroll</servlet-name>
        <url-pattern>/Enroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timetable</servlet-name>
        <url-pattern>/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Liststudentforadmin</servlet-name>
        <url-pattern>/Liststudentforadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/sendmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendmessage1</servlet-name>
        <url-pattern>/sendmessage1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendServlet</servlet-name>
        <url-pattern>/Diemdanh</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
